@model IList<MarinaHR.Models.Department>

<a class="btn btn-success" asp-controller="Department" asp-action="Create">Create New</a>
<br/><br/><br/>
        <table class="table table-striped">
            <th>
                <td>Department</td>
            </th>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                </tr>
            }
        </table>

