@model IList<MarinaHR.Models.Department>

<a class="btn btn-success" asp-controller="Department" asp-action="Create">أدخل جديد</a>
<br/>
<div class="display-4 float-right">
    الأقسام
</div>
<table class="table table-striped float-right">
    <thead>
        <tr>
            <th scope="col">القسم</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>

