@model IEnumerable<User>

<a class="btn btn-success" asp-controller="Account" asp-action="CreateUser">أدخل موظف جديد</a>
<div class="display-4 text-right float-right">
    الموظفين
</div>
<br/>
<table class="table table-striped float-left">
    <thead>
        <tr class="text-right">
            <th scope="col">الاسم</th>
            <th scope="col">القسم</th>
            <th scope="col">المكان</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.Name</td>
            <td class="text-right">@item.Department.Name</td>
            <td class="text-right">@item.Place.Name</td>
        </tr>
    }
</table>