@model IList<MarinaHR.Models.Employee>

<a class="btn btn-success" asp-controller="Employee" asp-action="Create">أدخل جديد</a>
<br/><br/><br/>
        <table class="table table-striped">
            <th>
                <td>Name</td>
                <td>Phone</td>
                <td>Department</td>
                
            </th>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.DepartmentID</td>
                
                </tr>
            }
        </table>

