@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">الصفحة الرئيسية</h1>
</div>
