@model IList<MarinaHR.Models.Vacation>
<div class="display-4 text-right float-right">
    الاجازات
</div>
<br/>
<table class="table table-striped float-left">
    <thead>
        <tr class="text-right">

            <th scope="col">الاسم</th>
            <th scope="col">عدد الأيام</th>
            <th scope="col">السبب</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.User.Name</td>
            <td class="text-right">@item.Days</td>
            <td class="text-right">@item.Reason</td>
        </tr>
    }
</table>