@model MarinaHR.Models.Vacation

<form asp-action="RequestVacation" asp-controller="Vacation" method="POST">
<div class="form-group text-right">
    <label asp-for="Days" ></label>
    <input asp-for="Days" class="form-control">
    <span asp-validation-for="Days"></span>
</div>
<div class="form-group text-right">
    <label asp-for="Reason" ></label>
    <input asp-for="Reason" class="form-control">
    <span asp-validation-for="Reason"></span>
</div>
<input type="submit" class="btn btn-info" value="طلب اجازة">
</form>